.App {
  text-align: center;
}

form {
  background-color: lavender;
  border: 2px solid black;
  width: 700px;
  height: 800px;
  margin: 20px;
}

form label {
  display: inline-block;
  width: 200px;
  font-size: 1.5rem;
}

form div {
  display: inline-block;
  margin: 20px;
}

button {
  width: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgreen;
  font-size: 1rem;
}
